USE [master]
GO
/****** Object:  Database [QLLUONG]    Script Date: 10/21/2023 9:04:10 PM ******/
CREATE DATABASE [QLLUONG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLLUONG', FILENAME = N'D:\Desktop\Kỳ1_23-24\Phát Triển Ứng Dụng\CK\DB\QLLUONG.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLLUONG_log', FILENAME = N'D:\Desktop\Kỳ1_23-24\Phát Triển Ứng Dụng\CK\DB\QLLUONG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLLUONG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLLUONG]
GO
/****** Object:  Table [dbo].[BangChamCongCongNhan]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCongCongNhan](
	[maBangChamCongCN] [char](10) NOT NULL,
	[soNgayLamViec] [int] NULL,
	[soNgayNghi] [int] NULL,
	[ngayChamCong] [datetime] NULL,
	[soLuongHangLamDuoc] [int] NULL,
	[coPhep] [int] NULL,
	[soGioTangCa] [float] NULL,
	[maCN] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangChamCongCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangChamCongNhanVien]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

GO
CREATE TABLE [dbo].[BangChamCongNhanVien](
	[maBangChamCongNV] [char](10) NOT NULL,
	[soNgayLamViec] [int] NULL,
	[soNgayNghi] [int] NULL,
	[coPhep] [int] NULL,
	[soGioTangCa] [float] NULL,
	[maNhanVien] [char](10) NULL,
	[ngayChamCong] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangChamCongNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangluongCongNhan]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangluongCongNhan](
	[maBangLuong] [char](10) NOT NULL,
	[thoiGian] [date] NOT NULL,
	[luongThang] [money] NULL,
	[phuCap] [float] NULL,
	[tienThuong] [money] NULL,
	[baoHiemXH] [float] NULL,
	[thucLanh] [float] NULL,
	[MaCN] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangluongNhanVien]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangluongNhanVien](
	[maBangLuong] [char](10) NOT NULL,
	[thoiGian] [date] NOT NULL,
	[luongThang] [money] NULL,
	[phuCap] [float] NULL,
	[tienThuong] [money] NULL,
	[baoHiemXH] [float] NULL,
	[thucLanh] [float] NULL,
	[luongCoBan] [money] NULL,
	[MaNV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongDoanSanPham]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDoanSanPham](
	[maCongDoan] [char](10) NOT NULL,
	[tenCongDoan] [nvarchar](20) NULL,
	[ngayBatDau] [datetime] NULL,
	[soLuongSanPham] [int] NULL,
	[donGia] [money] NULL,
	[trangThai] [bit] NULL,
	[maSP] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCongDoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNhan]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNhan](
	[maCongNhan] [char](10) NOT NULL,
	[trinhDoChuyenMon] [float] NULL,
	[ngaySinh] [datetime] NULL,
	[ten] [nvarchar](20) NULL,
	[gioiTinh] [bit] NULL,
	[diaChi] [nvarchar](50) NULL,
	[ngayThamGia] [datetime] NULL,
	[trangThai] [bit] NULL,
	[sDT] [varchar](15) NULL,
	[xuong] [nvarchar](25) NULL,
	[luongPhuCap] [float] NULL,
	[chuyenMon] [nvarchar](15) NULL,
	[hinhanhcn] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCongNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE CongNhan
ADD chuyenMon varchar(50) NULL;
GO
ALTER TABLE CongNhan
DROP COLUMN phongBan;
GO

/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [char](10) NOT NULL,
	[luongCoBan] [money] NULL,
	[ngaySinh] [datetime] NULL,
	[ten] [nvarchar](20) NULL,
	[gioiTinh] [bit] NULL,
	[diaChi] [nvarchar](50) NULL,
	[chucDanh] [nvarchar](30) NULL,
	[ngayThamGia] [datetime] NULL,
	[hsLuong] [float] NULL,
	[ThueThuNhapCaNhan] [float] NULL,
	[sDT] [varchar](15) NULL,
	[email] [varchar](40) NULL,
	[luongPhuCap] [float] NULL,
	[phongBan] [nvarchar](15) NULL,
	[hinhanhnv] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongCongDoan]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongCongDoan](
	[soLuongCongDoanPhanCong] [int] NULL,
	[maPCCD] [char](10) NOT NULL,
	[maCD] [char](10) NULL,
	[maCN] char(10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuLuong]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuLuong](
	[maPhieuLuong] [char](10) NOT NULL,
	[ngayNhanLuong] [datetime] NULL,
	[thucLanh] [float] NULL,
	[maBangLuong] [char](10) NULL,
	[ten] [nvarchar](30) NULL,

	[maNhanVien] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [char](10) NOT NULL,
	[tenSanPham] [nvarchar](20) NULL,
	[soLuongCongDoan] [int] NULL,
	[soLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/21/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [char](15) NOT NULL,
	[matKhau] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE BangChamCongCongNhan
ADD FOREIGN KEY (maCN) REFERENCES CongNhan(maCongNhan);
GO

ALTER TABLE PhieuLuong
ADD FOREIGN KEY (maNhanVien) REFERENCES CongNhan(maCongNhan);
GO

ALTER TABLE PhieuLuong 
ADD FOREIGN KEY (maNhanVien) REFERENCES CongNhan(maCongNhan);
GO 

GO
ALTER TABLE PhanCongCongDoan
ADD CONSTRAINT FK_PhanCongCongDoan_CongNhan 
FOREIGN KEY (maCN) REFERENCES CongNhan(maCongNhan);

GO

ALTER TABLE CongDoanSanPham
ADD FOREIGN KEY (maCongDoan) REFERENCES PhanCongCongDoan(maCongDoan);
GO

ALTER TABLE CongDoanSanPham
ADD FOREIGN KEY (maSP) REFERENCES SanPham(maSanPham);
GO
ALTER TABLE BangChamCongNhanVien
ADD CONSTRAINT FK_BangChamCongNhanVien_NhanVien
FOREIGN KEY (maNhanVien) REFERENCES NhanVien(maNhanVien);
GO
ALTER TABLE BangLuongNhanVien
ADD CONSTRAINT FK_BangLuongNhanVien_NhanVien
FOREIGN KEY (maNV) REFERENCES NhanVien(maNhanVien);
GO
ALTER TABLE PhieuLuong
ADD CONSTRAINT FK_PhieuLuong_NhanVien
FOREIGN KEY (maNhanVien) REFERENCES NhanVien(maNhanVien);
GO
ALTER TABLE BangLuongCongNhan
ADD CONSTRAINT FK_BangLuongCongNhan_PhieuLuong
FOREIGN KEY (maBangLuong) REFERENCES PhieuLuong(maBangLuong);
GO
ALTER TABLE BangLuongNhanVien
ADD CONSTRAINT FK_BangLuongNhanVien_PhieuLuong
FOREIGN KEY (maBangLuong) REFERENCES PhieuLuong(maBangLuong);

GO
-- Tạo liên kết giữa bảng BangLuongCongNhan và CongNhan
ALTER TABLE BangLuongCongNhan
ADD CONSTRAINT FK_BangLuongCongNhan_CongNhan
FOREIGN KEY (maCN) REFERENCES CongNhan(maCongNhan);
GO

-- Tạo liên kết giữa bảng PhieuLuong và BangLuongCongNhan
ALTER TABLE PhieuLuong
ADD CONSTRAINT FK_PhieuLuong_BangLuongCongNhan
FOREIGN KEY (maBangLuong) REFERENCES BangLuongCongNhan(maBangLuong);
GO

-- Tạo liên kết giữa bảng BangLuongNhanVien và PhieuLuong
ALTER TABLE PhieuLuong
ADD CONSTRAINT FK_BangLuongNhanVien_PhieuLuong
FOREIGN KEY (maBangLuong) REFERENCES BangluongNhanVien(maBangLuong);
GO


GO
-- Thêm 2 quản lý nhân sự
INSERT INTO NhanVien (maNhanVien, luongCoBan, ngaySinh, ten, gioiTinh, diaChi, chucDanh, ngayThamGia, hsLuong, ThueThuNhapCaNhan, sDT, email, luongPhuCap, phongBan, hinhanhnv)
VALUES 
('NV0011', 9500000, '1997-01-01', N'Thị Mai', 0, N'202 Lê Lợi, Quận 3, Tp HCM', N'Quản Lý Nhân Sự', '2010-03-20', 2.34, 1248500, '0123456789', 'MaiVo@gmail.com', 4500000, N'Phòng Nhân Sự', 'link_hinh_anh11.jpg');
go
INSERT INTO NhanVien (maNhanVien, luongCoBan, ngaySinh, ten, gioiTinh, diaChi, chucDanh, ngayThamGia, hsLuong, ThueThuNhapCaNhan, sDT, email, luongPhuCap, phongBan, hinhanhnv)
VALUES 
('NV0012', 9800000, '1997-01-01', N'Thị Minh', 1, N'257 Phan Đình Phùng, Quận Phú Nhuận, Tp HCM', N'Quản Lý Nhân Sự', '2009-05-15', 2.34, 1331000, '0123456789', 'MinhLe@gmail.com', 4700000, N'Phòng Nhân Sự', 'link_hinh_anh12.jpg');

GO


GO


GO
-- Thêm 20 công nhân
-- Thêm sản phẩm áo quần vào bảng SanPham với số lượng lớn hơn 400
GO
INSERT INTO SanPham (maSanPham, tenSanPham, soLuongCongDoan, soLuong)
VALUES 
('SP001', N'Áo Polo Nam', 5, 500),
('SP002', N'Áo Sơ Mi Nữ', 4, 450),
('SP003', N'Quần Jean Nam', 6, 550),
('SP004', N'Quần Legging Nữ', 5, 480),
('SP005', N'Áo Thun Trơn Unisex', 6, 600),
('SP006', N'Áo Khoác Nam', 4, 420),
('SP007', N'Quần Shorts Nữ', 6, 700),
('SP008', N'Quần Âu Nam', 3, 460),
('SP009', N'Áo Len Nữ', 6, 430),
('SP010', N'Quần Jogger Nam', 5, 480);
GO
-- Thêm 5 công đoạn cho sản phẩm SP001
INSERT INTO CongDoanSanPham (maCongDoan, tenCongDoan, ngayBatDau, soLuongSanPham, donGia, trangThai, maSP)
VALUES 
('CD001', N'Cắt vải', '2023-11-01', 500, 5000, 1, 'SP001'),
('CD002', N'May áo', '2023-11-05', 480, 5500, 1, 'SP001'),
('CD003', N'May cổ áo', '2023-11-10', 450, 6000, 1, 'SP001'),
('CD004', N'In hình', '2023-11-15', 420, 6500, 1, 'SP001'),
('CD005', N'Kiểm tra chất lượng', '2023-11-20', 400, 7000, 1, 'SP001');
GO
-- Thêm 4 công đoạn cho sản phẩm SP002
INSERT INTO CongDoanSanPham (maCongDoan, tenCongDoan, ngayBatDau, soLuongSanPham, donGia, trangThai, maSP)
VALUES 
('CD006', N'Cắt vải', '2023-11-02', 450, 5200, 1, 'SP002'),
('CD007', N'May áo', '2023-11-06', 430, 5900, 1, 'SP002'),
('CD008', N'May cổ áo', '2023-11-11', 400, 6400, 1, 'SP002'),
('CD009', N'In hình', '2023-11-16', 380, 6900, 1, 'SP002');
-- Thêm 6 công đoạn cho sản phẩm SP003
GO
INSERT INTO CongDoanSanPham (maCongDoan, tenCongDoan, ngayBatDau, soLuongSanPham, donGia, trangThai, maSP)
VALUES 
('CD010', N'Cắt vải', '2023-11-02', 500, 5400, 1, 'SP003'),
('CD011', N'May quần', '2023-11-07', 480, 6100, 1, 'SP003'),
('CD012', N'May túi', '2023-11-12', 460, 6800, 1, 'SP003'),
('CD013', N'May đáy quần', '2023-11-17', 440, 7500, 1, 'SP003'),
('CD014', N'Đính nút', '2023-11-22', 420, 8200, 1, 'SP003'),
('CD015', N'Kiểm tra chất lượng', '2023-11-27', 400, 8900, 1, 'SP003');
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0001
INSERT INTO BangChamCongNhanVien (maBangChamCongNV, soNgayLamViec, soNgayNghi, coPhep, soGioTangCa, maNhanVien)
VALUES ('MCCNV0001', 22, 4, 0, 15, 'NV0001');
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0002
INSERT INTO BangChamCongNhanVien (maBangChamCongNV, soNgayLamViec, soNgayNghi, coPhep, soGioTangCa, maNhanVien)
VALUES ('MCCNV0002', 20, 6, 2, 12, 'NV0002');
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0003
INSERT INTO BangChamCongNhanVien (maBangChamCongNV, soNgayLamViec, soNgayNghi, coPhep, soGioTangCa, maNhanVien)
VALUES ('MCCNV0003', 23, 3, 1, 18, 'NV0003');
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0010
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0011
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0012
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0061
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0062
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0063
GO
-- Thêm dữ liệu chấm công cho nhân viên NV0064
GO
-- Chấm công cho các nhân viên từ NV0065 đến NV0070
GO
-- Thêm dữ liệu lương cho tất cả nhân viên
INSERT INTO BangluongNhanVien (maBangLuong, thoiGian, luongThang, phuCap, tienThuong, baoHiemXH, thucLanh, luongCoBan, MaNV)
SELECT 
    'BLNV' + RIGHT('0000' + CAST(ROW_NUMBER() OVER (ORDER BY NV.maNhanVien) AS VARCHAR(4)), 4) AS maBangLuong,
    '2023-10-01' AS thoiGian,
	 NV.luongCoBan * NV.hsLuong AS luongThang,
    NV.luongPhuCap AS phuCap,
    0 AS tienThuong,
    4500000 AS baoHiemXH,
    (
        ((NV.luongCoBan * NV.hsLuong) / 26) * (22 - BCC.soNgayNghi) 
        + ((NV.luongCoBan * NV.hsLuong) / 26 / 8) * 2 * BCC.soGioTangCa 
        - (BCC.soNgayNghi - BCC.coPhep) * 150000 
        - NV.ThueThuNhapCaNhan
    ) AS thucLanh,

	    NV.luongCoBan AS luongCoBan,
    NV.maNhanVien AS MaNV
FROM 
    NhanVien NV
JOIN 
    BangChamCongNhanVien BCC ON NV.maNhanVien = BCC.maNhanVien
--WHERE BCC.ngayChamCong BETWEEN '2023-10-01' AND '2023-10-31';
GO
-- Chèn trực tiếp dữ liệu vào bảng PhanCongCongDoan

-- Chèn dữ liệu vào bảng BangChamCongCongNhan

INSERT INTO TaiKhoan (maTK, matKhau)
VALUES 
('KT001','KT001'),
('TP001','TP001'),
('XT001','XT001'),
('QL001','QL001');
go
ALTER TABLE [dbo].[NhanVien]
ALTER COLUMN [hoDem] NVARCHAR(30);


